- if locals[:results]
  - unless locals[:results].empty?
    .results
      %p= locals[:query]
      - locals[:results].each do |album|
        .result
          %a.album{href: "/album/id/#{album[:id]}"}
            %img{src: album[:image]}
          %table
            %tbody
              %tr
                %td
                  %p Artist:
                %td
                  %a{href: "/artist/id/#{album[:artist_id]}" } "#{album[:artist_name]}"
              %tr
                %td
                  %p Album:
                %td
                  %a{href: "/album/id/#{album[:album_id]}" } "#{album[:name]}"
- else
  - if locals[:headers]
    %p= locals[:headers][:status]
    %p= locals[:headers][:error_message]
  - else
    %p Unknown Error
