-# Tracks
-# GET /v3.0/tracks

= partial :nav
- if locals[:results]
  - unless locals[:results].empty?
    .player
      #info
      %section{ id: 'audio'}
    %table.tracks
      %thead
        %tr
          %td
          %th Artist
          %th Album
          %th Name
          %th Duration
          %th D/L
          %th Type
          %th Lang
          %th Genre
      %tfoot
        %tr
          %td{colspan: 6}
          %td.nav
            %a.prev.button{onclick: "getTracks('backward')"} Previous #{settings.page_size}
          %td
          %td.nav
            %a.next.button{onclick: "getTracks('forward')"} Next #{settings.page_size}
      %tbody
        = partial :tracks, locals: locals
- else
  - if locals[:headers]
    %p= locals[:headers][:status]
    %p= locals[:headers][:error_message]
  - else
    %p Unknown Error
